/* 
Background video
 */
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 576px) {
  #home_title h1 {
    font-size: 1.5rem;
  }
}

/* @media (min-width: 992px) {
  #home_title h1 {
    font-size: 2.5rem;
  }
} */

a {
  color: #343a40;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #df7453;
  text-decoration: none;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

.min-vh-80 {
  min-height: 80vh !important;
}
.vh-80 {
  height: 80vh !important;
}

.min-vh-60 {
  min-height: 60vh !important;
}
.vh-60 {
  height: 60vh !important;
}

/* 
Title letter-spacing
 */
.ls-20 {
  letter-spacing: 20px;
}
.ls-10 {
  letter-spacing: 10px;
}
.ls--10 {
  letter-spacing: -10px;
}

.lh-200 {
  line-height: 200%;
}

/* 
Drop down memu
 */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  /* .navbar .nav-item:hover .nav-link {
    color: #fff;
  } */
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
    border-radius: 0px;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #fff;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #f1c0b1;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  border-bottom: 2px solid #f1c0b1;
}

/* 
Cart
 */
.table-image td,
.table-image th {
  vertical-align: middle;
  text-align: center;
}

.table-image td.qty {
  max-width: 2rem;
}

.table-image input {
  text-align: center;
}

.table-image img {
  width: 10rem;
}

.price {
  margin-left: 1rem;
}

.modal-footer {
  padding-top: 0rem;
}

.text-pink {
  color: #ebad9b !important;
}

a.text-pink:hover,
a.text-pink:focus {
  color: #f1c0b1 !important;
}

/* 
hover CSS - Underline From Center
 */
@media (min-width: 992px) {
  .hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    left: 0;
    right: 0;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #f1c0b1;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before,
  .hvr-underline-from-center:focus:before,
  .hvr-underline-from-center:active:before {
    left: 15%;
    right: 15%;
  }
}
/*
Carousel Slideshow
 */
#index_carousel {
  width: 75vw;
}
.carousel .carousel-item {
  height: 75vh;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 75vh;
}

/* 
Background Banner
 */
.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-img-title {
  font-family: "Share Tech Mono", monospace, "Noto Sans TC", sans-serif;
}

.border-2 {
  border-width: 2px !important;
}
.box-25 {
  width: 25vw;
}

/* 
my-6
 */
.mt-6,
.my-6 {
  margin-top: 6rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 6rem !important;
}

/* 
Text shadow
 */
.text-shadow-1 {
  text-shadow: 1px 1px 5px #000000;
}

/* 
Product Cards
 */
.card {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/* 
Card Label
  */
.card-label-1 {
  position: absolute;
  width: 3rem;
  top: 0.5rem;
  left: 0.5em;
}
.card-label-2 {
  position: absolute;
  width: 3rem;
  top: 3.5rem;
  left: 0.5em;
}
.new-product {
  height: 45px;
  width: 45px;
  background-color: rgb(209, 78, 78);
  color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.hot-product {
  height: 45px;
  width: 45px;
  background-color: rgb(240, 160, 136);
  color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.dis-product {
  height: 45px;
  width: 45px;
  background-color: rgb(209, 101, 68);
  color: #fff;
  border-radius: 50%;
  display: inline-block;
}

@media (max-width: 768px) {
  .card-label-1 {
    top: 0.5rem;
    left: 0.5em;
  }
  .card-label-2 {
    top: 2.5rem;
    left: 0.5em;
  }
  .new-product {
    height: 30px;
    width: 30px;
    font-size: 0.5rem;
  }
  .hot-product {
    height: 30px;
    width: 30px;
    font-size: 0.5rem;
  }
  .dis-product {
    height: 30px;
    width: 30px;
    font-size: 0.5rem;
  }
}

.v-center {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.v-center-no-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cart-tag {
  font-size: 0.5rem;
  vertical-align: bottom;
}
.title-tag {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
}
.price-tag {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 0.8rem;
}
.price-tag del {
  color: rgb(163, 163, 163);
}

#product_detail {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}
/* 
Custom text style
 */
.border-bottom-pink {
  border-bottom: #f1c0b1 3px solid;
  width: 130px;
}

.link-unstyled {
  text-decoration: none;
}

/* 
Button
 */
.btn-pink {
  color: #fff;
  background-color: #f1c0b1;
  border-color: #f1c0b1;
  transition: 0.3s;
}

.btn-pink:hover {
  color: #fff;
  background-color: #ffaa90;
  border-color: #e79c86;
}

.btn-pink:focus,
.btn-pink.focus {
  color: #fff;
  background-color: #ffaa90;
  border-color: #e79c86;
  box-shadow: 0 0 0 0.2rem rgba(231, 156, 134, 0.5);
}

.btn-pink.disabled,
.btn-pink:disabled {
  color: #fff;
  background-color: #f1c0b1;
  border-color: #f1c0b1;
}

.btn-pink:not(:disabled):not(.disabled):active,
.btn-pink:not(:disabled):not(.disabled).active,
.show > .btn-pink.dropdown-toggle {
  color: #fff;
  background-color: #e79c86;
  border-color: #ffaa90;
}

.btn-pink:not(:disabled):not(.disabled):active:focus,
.btn-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 156, 134, 0.5);
}

.btn-cart {
  padding: 1rem;
  /* width: 15rem; */
  width: 100%;
}

/* Page navigation */
.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item {
  margin: 0 0.5rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.7rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #8b8b8b;
  background-color: #fff;
  border: 1px solid #fff;
}

.page-link:hover {
  z-index: 2;
  color: #f1c0b1;
  text-decoration: none;
  background-color: rgba(241, 192, 177, 0.25);
  border-color: 1px solid rgba(241, 192, 177, 0.25);
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(241, 192, 177, 0.25);
}

.page-item .page-link {
  color: #6c757d;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #f1c0b1;
  border-color: #f1c0b1;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* Footer */
.footer_pink {
  background-color: #f1c0b1;
}

/* 
Quantity input
 */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.bg-pink {
  background-color: #f1c0b1 !important;
}

.w-10 {
  width: 10% !important;
}

.w-60 {
  width: 60% !important;
}

.h-2rem {
  height: 2rem;
}

.h-4rem {
  height: 4rem;
}

/* round */
.rounded-xl {
  border-radius: 1rem !important;
}

.shadow-m {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.07) !important;
}

input.text-input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1.5px solid rgb(204, 204, 204);
  padding: 6px 30px;
  box-sizing: border-box;
}
input.text-input:focus {
  outline: none;
  box-shadow: none;
}

.form-submit {
  display: inline-block;
  background: #f1c0b1;
  color: #fff;
  border: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}
.form-submit:hover {
  background: #ffaa90;
}

input#name::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\f007";
}

/* custom-checkbox */
.custom-control-input:focus ~ .custom-control-label::before {
  border-color: #f1c0b1 !important;
  box-shadow: 0 0 0 0.1rem rgba(255, 165, 142, 0.25) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #f1c0b1 !important;
  background-color: #f1c0b1 !important;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #ff815a !important;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #ffded4 !important;
  border-color: #ffded4 !important;
}

/* flickity slider */
/*! Flickity v2.2.0
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  /* tap-highlight-color: transparent; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

/* no circle */
.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.carousel-cell {
  width: 100%;
}

/* cart image size */
.cart img {
  width: 50%;
}
.cart input {
  width: 25%;
}

@media (max-width: 992px) {
  .cart img {
    width: 100%;
  }

  @media (max-width: 768px) {
    .cart input {
      width: 50%;
    }
  }
  @media (max-width: 576px) {
    .cart h5 {
      font-size: small;
    }
    .cart p {
      font-size: small;
      margin: 0.25rem;
    }
    .cart input {
      width: 25%;
      font-size: small;
    }
  }
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select:focus {
  border-color: #f1c0b1;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(241, 192, 177, 0.25);
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1.5px solid rgb(204, 204, 204);
  border-radius: 0rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: none;
  border-bottom: 1.5px solid rgb(204, 204, 204);
  border-radius: 0rem;
}

.custom-control .custom-control-label {
  cursor: pointer;
}

.collapse:not(.show) {
  display: none;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

.img-fluid150px {
  width: 150px;
  max-width: 100%;
  height: auto;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 0px;
  border-bottom: 1px solid #dee2e6;
}
